* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  overflow: hidden
}

.container-dark {
  @extend %container;
  background-color: black;
}

.container-light {
  @extend %container;
  background-color: white;
}

a {
  text-decoration: none;
}

.content-dark {
  @extend %content;
  background-color: black;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.3);
  .chart-container-dark {
    @extend %chart-container;
    background-color: #171717;
  }
}

.content-light {
  @extend %content;
  background-color: #9e9e9e;
  box-shadow: 0 0 10px 2px rgba(40, 40, 40, 0.3);
  .chart-container-light {
    @extend %chart-container;
    background-color: white;
  }
}
