.settings-content {
  display: flex;
  justify-content: center;
  .columns-inputs,
  .values-inputs {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    input {
      background-color: white;
      border: 0;
      border-radius: 10px;
      font-size: 14px;
      text-align: center;
      color: black;
      padding: 7px 5px;
      outline: none;
      transition: 0.3s ease transform, 0.3s ease box-shadow;
    }
    input:focus {
      transform: scale(1.03);
      box-shadow: 0 0 2px 5px rgba(255, 255, 255, 0.2);
    }
    input::placeholder {
      text-align: center;
      transition: 0.3s ease transform;
    }
    input:focus::placeholder {
      transform: translateY(-200%);
    }
  }
  .settings-close-button {
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 25px;
    left: 89%;
    top: 10px;
    transition: 0.3s ease transform;
  }

  .settings-close-button:hover {
    transform: rotate(90deg);
  }
}
.settings-open-button {
  position: absolute;
  top: 94%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  animation: rotate-settings-icon infinite 5s linear;
  @keyframes rotate-settings-icon {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.chart-settings__hidden {
  @extend %chart-settings;
  top: 100%;
  opacity: 0;
}
.chart-settings__open {
  @extend %chart-settings;
  top: 30px;
  opacity: 100;
}