.chart-settings__hidden {
  @extend %chart-settings;
  opacity: 0;
  z-index: -1;
  transform: translateY(50px);
}

.chart-settings__open {
  @extend %chart-settings;
  transform: translate(0);
  opacity: 100;
  z-index: 1;
}

.settings-open-button {
  position: absolute;
  top: 33px;
  right: 100px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  animation: rotate-settings-icon infinite 5s linear;
  @keyframes rotate-settings-icon {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
